{% extends "base.html" %}

{% block content %}
    <h2>Your Dashboard</h2>
    <h3>Welcome, {{ username }}!</h3>

    <a href="/create">Create New Entry</a>
    <br><br>

    {% for entry in entries %}
        <div>
            <h3>{{ entry['title'] }}</h3>
            <p>{{ entry['content'] }}</p>
            

            <a href="/edit/{{ entry['id'] }}"
            
            <a href="/delete/{{ entry['id'] }}"
        </div>
        <hr>
    {% else %}
        <p>No entries yet!</p>
    {% endfor %}

    <br>
    <form action="/logout" 
        <button type="submit">Logout</button>
    </form>
{% endblock %}
